body{
    transition: ease-in-out .3s all;
}
.w100{
    width: 100%;
}
.backgroung-img-login{
    background-image: url('../img/fachada-diparvel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.msj{
    color: #ff6868;
    font-weight: 400;
    transition: ease-in-out .3s all;
}
.seclogin{
    padding: 12% 3%;
    min-height: 100vh;
}
.logo-login{
    width: 50%;
    margin: auto;
    display: block;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .row {
    margin-bottom: 0px !important;
    }
    .logo-header{
        width: 200px;
        padding: 15px 0px;
    }
    .ico-close{
        display: flex;
    }
    .display-flex-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .txt-cerrar{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 0rem;
        font-weight: 500;
    }
    .txt-cerrar i{
        padding-right: 7px;
        transition: ease-in-out .3s all;
    }
    .txt-cerrar i:hover{
        transform: scale3d(1.1, 1.1, 1.1);
    }
